{% extends "master.html" %}

{% block title %}
<title>All Books</title>
<h1 style="font-family: 'Arial', sans-serif;">My Current Library</h1>
{% endblock %}

{% block content %}

<p>Take me <a href={% url 'index' %}>home</a></p>

<body>

<h2>Completed</h2>    
<ul>
  {% for x in completed_books %}
    <li>
        <a href={% url 'details' x.id %}>{{x.book_title}}</a>
        <a href={% url 'delete_book' x.id %}>Delete</a>
    </li>

  {% endfor %}
</ul>

<h2>Currently Reading</h2>
<ul>
    {% for x in reading_books %}
      <li>
          <a href={% url 'details' x.id %}>{{x.book_title}}</a>
          <a href={% url 'delete_book' x.id %}>Delete</a>
          <a href={% url 'completed_book' x.id %}>Add to completed</a>
          <a href={% url 'add_library' x.id %}>Back to Library</a>
      </li>
  
    {% endfor %}
  </ul>

<h2>My Library</h2> 
<ul>
    {% for x in library_books %}
      <li>
          <a href={% url 'details' x.id %}>{{x.book_title}}</a>
          <a href={% url 'delete_book' x.id %}>Delete</a>
          <a href={% url 'completed_book' x.id %}>Add to completed</a>
          <a href={% url 'reading_book' x.id %}>Add to currently reading</a>
      </li>
  
    {% endfor %}
</ul> 

<a href={% url 'add_book' %}>Add Book</a>

</body>
{% endblock %}