{% extends "master.html" %}
 
{% block title %}
<title>Book Details</title>
<h1 style="font-family: 'Arial', sans-serif;">Book Details</h1>
{% endblock %}


{% block content %}
<html>
<body>
<h1>{{ mybooks.book_title }}</h1>
  
<p>Genre: {{ mybooks.book_genre }}</p>
<p>Created: {{ mybooks.created_at }}</p>
<p>Start: {{ mybooks.start_date }}</p>
<p>Completed: {{ mybooks.completed_date }}</p>

<p>Back to <a href="{% url 'books' %}">Books</a></p>
<p> Click here to <a href="{% url 'edit_book' mybooks.id %}">Edit Book</a></p>
</body>

</html>
{% endblock %}